<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input type="email" formControlName="email" />
    @if(emailControl.invalid && emailControl.touched){
    <div class="error-message">
      @if (emailControl.errors?.['required']) {
      <div>Email is required.</div>
      } @if (emailControl.errors?.['email']) {
      <div>Invalid Email Format</div>
      } @if (emailControl.getError('test_data')) {
      <div>{{ emailControl.getError("test_data") }}</div>
      } @if (emailControl.getError('bad_word')) {
      <div>{{ emailControl.getError("bad_word") }}</div>
      }
    </div>
    }
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" formControlName="password" />
    @if(passwordControl.invalid && passwordControl.touched){
    <div class="error-message">
      @if (passwordControl.errors?.['required']) {
      <div>Password is required.</div>
      } @if (passwordControl.errors?.['minlength']) {
      <div>Password must be at least 8 characters long.</div>
      }
    </div>
    }
  </div>
  <button type="submit">Login</button>
</form>
